<section class="section-jobs my-5">
  <div class="container-fluid justify-content-center">
    <h1 class="display-1 text-center"> Featured jobs</h1>

    <div class="row justify-content-center">
      <div class="col-sm-6 col-lg-4 my-3">
        <img class="img-fluid" src="../../assets/images/main.jpg"/>
      </div>
      <div class="col-sm-6 col-lg-4 my-3">
        <img class="img-fluid" src="../../assets/images/main.jpg"/>
      </div>
      <div class="col-sm-6 col-lg-4 my-3">
        <img class="img-fluid" src="../../assets/images/main.jpg"/>
      </div>
    </div>
    <div *ngIf="isShowAllJobs" class="row justify-content-center">
        <div class="col-sm-6 col-lg-4 my-3">
          <img class="img-fluid" src="../../assets/images/main.jpg"/>
        </div>
        <div class="col-sm-6 col-lg-4 my-3">
          <img class="img-fluid" src="../../assets/images/main.jpg"/>
        </div>
        <div class="col-sm-6 col-lg-4 my-3">
          <img class="img-fluid" src="../../assets/images/main.jpg"/>
        </div>
    </div>
    <div *ngIf="isToggledJobs" class="row justify-content-center">
      <button class="" (click)=toggleAllJobs()> Display all jobs </button>
    </div>


  </div>
