.nav{
    margin-bottom: -10px;
    margin-top: -10px;
}
.img{
    margin-bottom: 5px;
}
.login:hover{
    cursor: pointer;
}
.md-datepicker-calendar-pane {
    z-index: 1200;
}
.logout:hover{
    cursor: pointer;
}