<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-center">
  
  <a href="" class="navbar-brand"><img src="https://i.ibb.co/N3rL653/svgexport-1.png" alt="svgexport-1" style="width:50px;height:auto;">ExpatAid</a>

  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a href="contact" class="nav-link text-white">Contact</a></li>
      <li class="nav-item"><a href="jobs" class="nav-link text-white">Jobs</a></li>
      <!-- <li class="nav-item"><a href="create-job" class="nav-link">Create Job</a></li> -->
    </ul>
    <ul *ngIf="!this.api.user" class="navbar-nav">
      <li ><a class="nav-link login" (click)="googleSignin()">Login</a></li>
      <!-- <li ><a class="nav-link login" (click)="open(content)">Modal</a></li> -->
    </ul>


  <div>
    <ul *ngIf="this.api.user" class="nav navbar-nav">
      <li class="dropdown">
          <a href="#" href="{{api.user.photoUrl}}" class="nav-link dropdown-toggle text-white" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false"> 
            {{api.user.firstName}} {{api.user.lastName}} <img src="{{api.user.photoUrl}}" width="40" height="40" class="rounded-circle">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <!-- <a class="dropdown-item" href="#"><fa-icon [icon]="faIgloo"></fa-icon> Dashboard</a> -->
            <a class="dropdown-item" [routerLink]="['/profile', api.user.id]"><fa-icon [icon]="faUserAlt"></fa-icon> Profile</a>
            <li><hr class="dropdown-divider"></li>
            <a class="dropdown-item logout" (click)="logout()"><fa-icon [icon]="faSignOutAlt"></fa-icon> Log Out</a>
          </div>
      </li>
    </ul>
  </div>


  </div>

</nav>

<ng-template #content let-modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New User Creation Extra Information</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="address">City</label>
        <div class="input-group">
          <input id="address" class="form-control" [(ngModel)]="city"  name="city" ng-model="city">
        </div>
        <label for="address">Address</label>
        <div class="input-group">
          <input id="address" class="form-control" [(ngModel)]="address"  name="address" ng-model="address">
        </div>
        <label for="phone">Phone Number</label>
        <div class="input-group">
          <input id="phone" class="form-control" [(ngModel)]="phonenr" name="phonenr" ng-model="phonenr">
        </div>
        <label for="birthday">Date of Birth</label>
          <div class="form-group">
            <div class="input-group">
              <!-- <input [minDate]="{year: 1920, month: 1, day: 1}"
              [maxDate]="{year: 2020, month: 12, day: 31}"
              class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" [(ngModel)]="birthday" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div> -->

              <input matInput [matDatepicker]="picker" [(ngModel)]="birthday"  name="datapicker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>
          </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" ng-required="phonenr" (click)="modal.close('Save click')" (click)="close()">Save</button>
  </div>
</ng-template>
